* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.step {
    width: 960px;
    margin: 50px auto;
    font-size: 0;
    
}


.stepbox {
    position: relative;
    padding: 10px;
    width: 300px;
    display: inline-block;
    border: 1px whitesmoke solid;
    font-size: 16px;
}

.stepbox:nth-child(2) {
    margin: 30px;
}
.step-num {
    position: absolute;
    background-color: orange;
    color: white;
    top: 0;
    left: 0;
}

img {
    width: 280px;
}
